################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebViewCrashMidLoad/bin/Debug/net8.0-ios/iossimulator-arm64
/WebViewCrashMidLoad/obj
